<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Arabot &mdash; Intelligent Arabic Bot" />
    <meta name="description" content="arabot, the first intelligent arabic chatbot, using an outstanding Arabic NLP to build conversational AI used to enhance customer Experience, automate tasks and reduce cost" />
    <meta name="abstract" content="arabot, the first intelligent arabic chatbot, using an outstanding Arabic NLP to build conversational AI used to enhance customer Experience, automate tasks and reduce cost" />
    <meta name="keywords" content="arabot, arabic chatbot, chatbot, ai, machine learning, arabic bot, intelligent chatbot, responsive bot, arabic NLP, natural language processing, whatsapp, whatsapp bot, whatsapp arabic bot, whatsapp arabic chatbot" />
    <meta name="author" content="arabot.io" />
    <meta name="identifier-url" content="http://arabot.io/" />
    <meta name="language" content="EN" />
    <meta name="copyright" content="© 2019 arabot" />
    <meta name="robots" content="All" />
    <meta name="theme-color" content="#1B1B40" />
    <link rel="canonical" href="//arabot.io/" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Arabot &mdash; Intelligent Arabic Bot" />
    <meta property="og:image" content="//arabot.io/assets/images/og-image.jpg" />
    <meta property="og:url" content="//arabot.io/" />
    <meta property="og:site_name" content="Arabot.io" />
    <meta property="og:description" content="arabot, the first intelligent arabic chatbot, using an outstanding Arabic NLP to build conversational AI used to enhance customer Experience, automate tasks and reduce cost" />
    <meta name="twitter:title" content="Arabot &mdash; Intelligent Arabic Bot" />
    <meta name="twitter:image" content="//arabot.io/assets/images/og-image.jpg" />
    <meta name="twitter:url" content="//arabot.io/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="arabot.io" />
    <meta name="twitter:creator" content="arabot.io" />

    <title>@@title</title>
    <link rel="preconnect" href="https://player.vimeo.com">
    <link rel="preconnect" href="https://i.vimeocdn.com">
    <link rel="preconnect" href="https://f.vimeocdn.com">
    <link rel="icon shortcut" href="./assets/images/favicons.ico" />
    @@for (var i = 0; i < styles.length; i++) {
        <link rel="stylesheet" href="./css/`+ styles[i] +`" />
    }
</head> 

<body class="@@rootClasses pg-loading">

    @@include('./navbar.html', {
        "activeNav": "@@activeNav"
    })